<footer id="site-footer">
    <div class="vertical">
        <div class="block">
            <section>
                <p class="footer-links">
                    <a href="/about">About</a> |
                    <a href="/">Articles</a> |
                    <a href="/projects">Projects</a> |
                    <a href="mailto:{{ site.email }}">Contact</a> |
                    <a href="https://github.com/ryanmorr">GitHub</a> |
                    <a href="http://codepen.io/ryanmorr/">CodePen</a> | 
                    <a href="https://twitter.com/ryanmmorr">Twitter</a> | 
                    <a href="/feed.xml">Feed</a>
                </p>
            </section>
            <p>Copyright &copy; {{ site.time | date: "%Y" }} {{ site.name }}.</p>
        </div>
    </div>
</footer>

<script type="text/javascript" src="/js/prettify.js"></script>

<script>
// PrettyPrint
addEventListener('load', prettyPrint, false);
// Google Analytics
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-6902038-1']);
_gaq.push(['_trackPageview']);
(function(){
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>