<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% if page.title == "Ryan Morr" %}
        <title>{{ page.title }}</title>
    {% else %}
        <title>{{ page.title }} | Ryan Morr</title>
    {% endif %}

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@ryanmmorr">
    <meta name="twitter:domain" content="ryanmorr.com">
    <meta name="twitter:creator" content="@ryanmmorr">
    <meta name="twitter:title" content="{{ page.title }} | Ryan Morr">
    <meta name="twitter:image:src" content="/icon.png">
    {% if page.twitterDescription %}
        <meta name="twitter:description" content="{{ page.twitterDescription }}">
    {% endif %}

    <link rel="alternate" type="application/atom+xml" href="/feed.xml">

    <link rel="shortcut icon" href="/icon.png">
    <meta name="apple-mobile-web-app-title" content="{{ page.name }}">
    <meta name="description" content="{{ page.description }}" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic|Open+Sans:700,400" />
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/prettify.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>