<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ page.title }}</title>

    <link rel="alternate" type="application/atom+xml" href="/feed.xml">

    <link rel="shortcut icon" href="/icon.png">
    <meta name="apple-mobile-web-app-title" content="{{ page.name }}">
    <meta name="description" content="{{ page.description }}" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic|Open+Sans:700,400" />
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/prettify.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>