<header id="site-header">
    <div class="vertical">
        <div class="block">
            <h1 class="blog-title">{{ site.name }}</h1>
            <h2 class="blog-description">{{ site.description }}</h2>
            <section class="icon-links">
                <a href="/about">
                    <i class="fa fa-user"></i>
                    <span class="hidden">About</span>
                </a>
                <a href="/projects">
                    <i class="fa fa-folder-open"></i>
                    <span class="hidden">Projects</span>
                </a>
                <a href="mailto: {{ site.email }}">
                    <i class="fa fa-envelope"></i>
                    <span class="hidden">Contact</span>
                </a>
                <a href="https://twitter.com/ryanmmorr">
                    <i class="fa fa-twitter"></i>
                    <span class="hidden">Twitter</span>
                </a>
                <a href="https://github.com/ryanmorr">
                    <i class="fa fa-github"></i>
                    <span class="hidden">Github</span>
                </a>
                <a href="http://codepen.io/ryanmorr/">
                    <i class="fa fa-codepen"></i>
                    <span class="hidden">CodePen</span>
                </a>
                <a href="/feed.xml">
                    <i class="fa fa-rss"></i>
                    <span class="hidden">RSS Feed</span>
                </a>
            </section>
        </div>
    </div>
</header>