<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ page.title }}</title>

    <link rel="shortcut icon" href="/icon.png">
    <meta name="apple-mobile-web-app-title" content="Ryan Morr">
    <meta name="description" content="Web developer based in Barrie, Ontario, Canada. I love to create dynamic web applications with a keen interest in JavaScript, Node.js, CSS, and HTML5." />

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic|Open+Sans:700,400" />
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/prettify.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>