<header id="site-header">
    <div class="vertical">
        <div class="block">
            <h1 class="blog-title">{{ site.name }}</h1>
            <h2 class="blog-description">{{ site.description }}</h2>
            <section class="icon-links">
                <a href="/about">
                    <i class="fa fa-user"></i>
                    <span class="tooltip">About</span>
                </a>
                <a href="/">
                    <i class="fa fa-pencil-square-o"></i>
                    <span class="tooltip">Posts</span>
                </a>
                <a href="/projects">
                    <i class="fa fa-code"></i>
                    <span class="tooltip">Projects</span>
                </a>
                <a href="mailto:{{ site.email }}">
                    <i class="fa fa-envelope"></i>
                    <span class="tooltip">Contact</span>
                </a>
                <a href="https://twitter.com/ryanmmorr">
                    <i class="fa fa-twitter"></i>
                    <span class="tooltip">Twitter</span>
                </a>
                <a href="https://github.com/ryanmorr">
                    <i class="fa fa-github"></i>
                    <span class="tooltip">GitHub</span>
                </a>
                <a href="http://codepen.io/ryanmorr/">
                    <i class="fa fa-codepen"></i>
                    <span class="tooltip">CodePen</span>
                </a>
            </section>
        </div>
    </div>
</header>