---
layout: default
---

<main class="post-main">
    <article class="post">
        <header class="post-header block">
            <h1 class="post-title">{{ page.title }}</h1>
            <ul class="meta clear">
                <li><i class="fa fa-calendar"></i><time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%B %-d, %Y" }}</time></li>
                <li><i class="fa fa-tags"></i>{{ page.tags | array_to_sentence_string }}</li>
                {% if page.project %}
                    <li><i class="fa fa-github"></i><a href="{{ page.project }}">Repository</a></li>
                {% endif %}
                {% if page.demo %}
                    <li><i class="fa fa-hand-pointer-o"></i><a href="{{ page.demo }}">Demo</a></li>
                {% endif %}
            </ul>
        </header>
        <section class="post-content">
            {{ content }}
        </section>
        {% if page.notes %}
            <footer class="post-footer block">
                {% for notes in page.notes %}
                    {% for note in notes %}
                        <div class="note">
                            <p><strong>Update ({{ note[0] | date: "%m/%d/%Y" }})</strong> - {{ note[1] }}</p>
                        </div>
                    {% endfor %}
                {% endfor %}
            </footer>
        {% endif %}
    </article>
</main>
